
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<form>
    <div class="form-group">
        <label for="aciklama">Sertifika Adı</label>
        <input type="text" class="form-control" id="aciklama">
    </div>
   
  
    <button type="button" onclick="window.history.back()" class="btn btn-danger">Geri</button>
    <button type="button" onclick="ekle()" class="btn btn-primary">Ekle</button>
</form>

<script>
    
    function ekle() {
        var aciklama = $("#aciklama").val();
        if (aciklama == "") {
            Swal.fire({
                icon: 'error',
                title: 'Uyarı',
                text: 'Sertifika adı boş bırakılamaz',
                confirmButtonText: "Tamam"
            })
        } else {
            $.post("https://localhost:44309/Certification/storeAdd", {
                "Description": aciklama
            }, function (res) {
                    Swal.fire({
                        title: "Başarılı",
                        text:res,
                        confirmButtonText: `Tamam`,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href ="https://localhost:44309/Certification/Index"
                        } 
                    })
            })
        }
    }
</script>