@model Cv.WebUI.Models.AppUserListViewModel2

@foreach (var item in Model.AppUsers)
{
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Yunus Sandıkçı</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="@item.ImageUrl" alt="" /></span>
    </a>
}
