@model Cv.WebUI.Models.ExperienceListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<a href="/Experience/Add" style="margin-bottom:10px;" class="btn btn-info">Ekle</a>

<table class="table table-bordered">
    <tr>
        <th>İş Yeri Adı</th>
        <th>Görevi</th>
        <th>Başlama Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach (var item in Model.Experiences)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.SubTitle</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>
                    <a href="/Experience/Update?id=@item.Id" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

