@model Cv.WebUI.Models.SkillListViewModel

    <div class="resume-section-content">
        <h2 class="mb-5">Yetkinliklerim</h2>
        <ul class="fa-ul mb-0">
            @foreach (var item in Model.Skills)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    @item.Description
                </li>
            }

        </ul>
    </div>